[Unit]
Description=Multi Chain Storage Service

[Service]
Type=simple
ExecStart=[binary_dir]/multi-chain-storage
StandardOutput=[binary_dir]/mcs.log
Restart=always
RestartSec=1
KillMode=mixed

[Install]
WantedBy=multi-user.target