[Unit]
Description=Payment Bridge (MCP Backend) Service

[Service]
Type=simple
ExecStart=/home/zzq/go/src/multi-chain-storage/build/multi-chain-storage
StandardOutput=/home/zzq/go/src/multi-chain-storage/build/multi-chain-storage/build/pb_log.log
Restart=always
RestartSec=1
KillMode=mixed

[Install]
WantedBy=multi-user.target