[Unit]
Description=Multi Chain Storage Service

[Service]
Type=simple
ExecStart=[source_path]/multi-chain-storage/build/multi-chain-storage
StandardOutput=[source_path]/multi-chain-storage/build/mcs.log
Restart=always
RestartSec=1
KillMode=mixed

[Install]
WantedBy=multi-user.target