port="8888"
dev = false
admin_wallet_on_polygon=""
file_coin_wallet=""
filink_url=""

[database]
db_host="localhost"
db_port="3306"
db_schema_name="payment_bridge"
db_username="root"
db_pwd="123456"
db_args="charset=utf8mb4&parseTime=True&loc=Local"

[swan_api]
api_url = "http://[ip]:[port]"
api_key = ""
access_token = ""

[lotus]
client_api_url="http://[ip]:[port]/rpc/v0"   # Url of lotus web api
client_access_token=""   # Access token of lotus web api
final_status_list="StorageDealError,StorageDealActive,StorageDealStaged,StorageDealPulished"

[ipfs_server]
download_url_prefix = "http://[ip]:[port]"
upload_url_prefix = "http://[ip]:[port]"

[swan_task]
dir_deal="~/.swan/mcp/temp/deal"
description = ""
curated_dataset = ""
tags = ""
max_price = 0.00005
expire_days = 4
verified_deal = false
fast_retrieval = true
start_epoch_hours = 96

[schedule_rule]
unlock_payment_rule = "0 */5 * * * ?"  #every minute
send_deal_rule = "0 */3 * * * ?"  #every minute
create_task_rule = "0 */2 * * * ?"
scan_deal_status_rule = "0 */4 * * * ?"

